var idNS = stringIDToTypeID("sendDocumentInfoToNetworkClient");
var desc = new ActionDescriptor();
{% if version %}
desc.putString(stringIDToTypeID("version"), "{{version}}");
{% endif %}
{% if document %}
desc.putInteger(stringIDToTypeID("documentID"), {{document}});
{% endif %}
{% if placed_ids %}
var placedList = new ActionList();
    {% for placed_id in placed_ids %}
placedList.putString("{{placed_id}}");
    {% endfor %}
desc.putList(stringIDToTypeID("placedID"), placedList);
{% endif %}
{% if layer is iterable %}
desc.putInteger(stringIDToTypeID("firstLayer"), {{layer[0]}});
desc.putInteger(stringIDToTypeID("lastLayer"), {{layer[1]}});
{% elif layer is number %}
desc.putInteger(stringIDToTypeID("layerID"), {{layer}});
{% elif layer == 'selected' %}
desc.putBoolean(stringIDToTypeID("selectedLayers"), true);
{% endif %}
{% if expand_smart_objects %}
desc.putBoolean(stringIDToTypeID("expandSmartObjects"), true);
{% endif %}
{% if get_text_styles %}
desc.putBoolean(stringIDToTypeID("getTextStyles"), true);
{% endif %}
{% if get_full_text_styles %}
desc.putBoolean(stringIDToTypeID("getFullTextStyles"), true);
{% endif %}
{% if get_default_layer_effect %}
desc.putBoolean(stringIDToTypeID("getDefaultLayerFX"), true);
{% endif %}
{% if get_comp_layer_settings %}
desc.putBoolean(stringIDToTypeID("getCompLayerSettings"), true);
{% endif %}
{% if get_path_data %}
desc.putBoolean(stringIDToTypeID("getPathData"), true);
{% endif %}
{% if image_info is not none %}
desc.putBoolean(stringIDToTypeID("imageInfo"), {{image_info|lower}});
{% endif %}
{% if comp_info is not none %}
desc.putBoolean(stringIDToTypeID("compInfo"), {{comp_info|lower}});
{% endif %}
{% if not layer_info %}
desc.putBoolean(stringIDToTypeID("layerInfo"), false});
{% endif %}
{% if not include_ancestors %}
desc.putBoolean(stringIDToTypeID("includeAncestors"), false);
{% endif %}
executeAction(idNS, desc, DialogModes.NO);
